.gameContainer {
    background-color: #2D3047;
    border-radius: 10px;
    padding: 2.5%;
    width: 100%;
    transition: all 0.2s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gameContainer:hover {
    background-color: #3d415e; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); 
    transform: scale(1.05); 
}

.teamContainer {
    color: #FDE8E9;
    background-color: #181925;
    border-radius: 10px;
    padding: 2.5%;
    font-size: small;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/* Need to settle on a font*/
.homeTeamContainer,
.awayTeamContainer {
    display: flex;           
    align-items: center;     
    gap: 15px;
    justify-content: center;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

.homeTeamContainer img,
.awayTeamContainer img {
    width: 60px;             
    height: 60px;
    object-fit: contain;     
}

.detailsContainer {
    color: #FDE8E9;
    font-size: small;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.detailsContainer h1 {
    margin: 0;
}

