.gameGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5%;
    row-gap: 1.5%;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    overflow: visible;
}

.homeHeader{
    display: flex;           
    align-items: center;     
    gap: 8px;
    justify-content: center;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    margin-top: 2.5%; 
}

.homeHeaderText{
    margin-left: 2.5%;
    font-size: 60pt;
    color: #FDE8E9
}

.homeContainer {
    background-color: black;
    min-height: 100vh; 
    padding-bottom: 40px; 
}

.scrollingContainer{
    width: 100%;           
    overflow: hidden;      
    white-space: nowrap;   
    box-sizing: border-box;
    margin: 2.5% 0 2.5% 0
}

.scrollingText{
    display: inline-block; 
    padding-left: 100%;    
    animation: scrollingText 25s linear infinite; 
    color: #FDE8E9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

@keyframes scrollingText {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-100%); 
  }
}